html {
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
}
body {
    background: -webkit-gradient(linear, left top, left bottom, from(#708090), to(#eee)) fixed;
}
@media only screen and (max-width: 980px), (min-width: 600) {
    body {
        background: -webkit-gradient(linear, left top, left bottom, from(#708090), to(#eee)) fixed;
    }
}
.binder-header {
    position: sticky;
    top: 0px;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
}
.binder-wrapper {    
    display: flex;
    position: relative;
    background-color: #708090;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
}
.binder-wrapper .nav {
    margin-left: auto;
}
.binder-header .nav a::after {
    content: "|";
    border-left: none;
}
.binder-header .nav a:last-child::after {
    display: none;
}
.nav {
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace, Arial, Helvetica, sans-serif;
}
.nav a:hover {
    color: steelblue; 
}
.aboutMe img[src="./assets/aaronMitchell01.PNG"] {
    height: 80px;
    width: 60px;
    cursor: pointer;  
}
@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
    } 100% {
        transform: translateX(0);
    }
}
hr {
    animation: 2s ease-out .1s 1 slideInFromLeft;
    border-color: black;
}
h2 {
    color: black;
}
.menu01 {
    display: flex;
    box-sizing: border-box;
    border: 2px solid aqua;
    width: 50%;
}
.screenSizes {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    background-color: aliceblue;
    box-sizing: border-box;
    justify-content: space-around;
    border-radius: 25px;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
    margin: 1px;
    margin-left: 25px;
    margin-right: 25px;
}
.screenCard {
    background-color: purple;
    width: min-content;
    border-radius: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
}
.screenCard p {
    padding-left: 15px;
    padding-right: 15px;
}
.screenCard:hover {
    box-shadow: 10px 10px 5px lightgrey, -10px 10px 5px lightgrey;
    margin-top: -5px;
    margin-bottom: 5px;
    transform: rotateX(5deg);
    cursor: grab;
}
.screenCard:active {
    cursor: grabbing;
    box-shadow: none;
    margin-top: 5px;
    margin-bottom: -5px;
    transform: rotateX(-5deg);
}
img[src="./assets/screenSizes01.png"] {
    border-radius: 25px;
    width: 325px;
    height: 300px;
}
@keyframes wobbleCard {
    50% {
        transform: rotateZ(-3deg);
    } 50% {
        transform: rotateZ(3deg);
    } 100% {
        transform: rotateZ(-3deg);
    } 50% {
        transform: rotateZ(3deg);
    } 25% {
        transform: rotateZ(-3deg);
    }
}
.screenCard {
    animation: .33s ease-out 0s 1 wobbleCard;
}
.accessOpt {
    position: relative;
    display: flex;
    box-sizing: border-box;
    border-radius: 90px;
    height: 48px;
    width: 48px;    
    float: bottom;
    z-index: 1;
}
/*img[src="./assets/Accessibility01.ico"] {
    position: absolute;
}*/
.accessBtn {
    display: flex;
    position: fixed;
    float: right;    
}